<div class="container">
  <div class="row">
    <h1 class="col-12 text-center">Timer</h1>
    <div class="col-12 text-center">
      <p class="timer">
        {{ appTimer.hours | timer }}:{{ appTimer.minutes | timer }}:{{
          appTimer.seconds | timer
        }}
      </p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="col-3 d-flex flex-column">
        <button
          *ngIf="!isActive"
          type="button"
          class="btn btn-outline-success mb-1"
          (click)="onStart()"
        >
          Start
        </button>
        <button
          *ngIf="isActive"
          type="button"
          class="btn btn-outline-danger mb-1"
          (click)="onStop()"
        >
          Stop
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary mb-1"
          #wait
          [disabled]="!isActive"
        >
          Wait
        </button>
        <button
          type="button"
          class="btn btn-outline-warning"
          (click)="onReset()"
          [disabled]="!isActive"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
